<h1>Welcome to my word count app</h1>
<form action = "/user_input_one">
  <div class = "form-group">
    <label for ="user_input_one">Enter the word you would like to count:</label>
    <input id="user_input_one" name="user_input_one" class="form_control" type="text">
  </div>
  <div>
    <label for ="user_input_two">Enter the string to search:</label>
    <input id="user_input_two" name="user_input_two" class="form_control" type="text">
  </div>
  <button type = "submit" class = "btn-success">Submit</button>
</form>
